.galleryPage{
    display: flex;
    justify-content: center;
}

.galleryList{
    background-image: url(../../images/GalleryBG.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 800px;
    height: 878px;;
    display:block;
    justify-content: center;
}

.gallerySpace{
    display: grid;
    margin-left: 200px;
    grid-template-columns: repeat(3, 160px);
    grid-gap: 5px;;
    grid-auto-rows: 100px;
    justify-content: right;
}

.galleryItem{
    background-image: linear-gradient(to left, rgba(200, 169, 249, 0.9) , rgb(255, 255, 255, .9));
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    font-weight: bolder;
    vertical-align: middle;;
}
.thumbnail{
    height: 100px;
    width: 100px;
}

.namePlate{
    height: 100px;
    width: 60px;
    opacity: 0.7;// Temporary until I get nameplates I like
}

.underConstruction{
    border: black 5px;
    border-style: dashed;
    background-color: yellow;
}
.underConstruction p{
    text-align: center;
    font-weight: bolder;
}

.outfit{
    height: 650px;
    width: 300px;
}

.characterSidebar{
    display: grid;
    justify-items: center;
    width: 300px;
    text-align: center;
}

.changeOutfit{
    font-weight: 600;
    width: 200px;
    margin-left: 50px;
    background: #666666;
    font-size: larger;
    color: white;
    border-radius: 8px;
}

.characterGallery{
    width: 800px;
    height: 878px;;
}

.characterSidebarHeader{
    padding-top: 20px;
    font-size: larger;
    color: black;
}

.characterSidebarHeader h1{
    margin-top: auto;    
}

.characterSidebarFooter{
    font-size: larger;
    color: black;
}